In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
#creating dataframes of the tables in case its needed
Measurement_df = session.query(Measurement.id, Measurement.station, \
                               Measurement.date, Measurement.prcp, Measurement.tobs).all()
M_df = pd.DataFrame(Measurement_df)
Station_df = session.query(Station.id, Station.station, \
                           Station.name, Station.latitude, Station.longitude, Station.elevation).all()
S_df = pd.DataFrame(Station_df)

In [10]:
#merging the tables on station
M_S_df = pd.merge(M_df, S_df, on='station')
all_data = M_S_df[['id_x','station','name','date','prcp','tobs','latitude','longitude','elevation']]
final_df = all_data.rename(columns={"id_x": "id"})
final_df.set_index('id', inplace=True)
final_df

,station,name,date,prcp,tobs,latitude,longitude,elevation
id,,,,,,,,
1,USC00519397,"WAIKIKI 717.2, HI US",2010-01-01,0.08,65.0,21.2716,-157.8168,3.0
2,USC00519397,"WAIKIKI 717.2, HI US",2010-01-02,0.00,63.0,21.2716,-157.8168,3.0
3,USC00519397,"WAIKIKI 717.2, HI US",2010-01-03,0.00,74.0,21.2716,-157.8168,3.0
4,USC00519397,"WAIKIKI 717.2, HI US",2010-01-04,0.00,76.0,21.2716,-157.8168,3.0
5,USC00519397,"WAIKIKI 717.2, HI US",2010-01-06,NaN,73.0,21.2716,-157.8168,3.0
...,...,...,...,...,...,...,...,...
19546,USC00516128,"MANOA LYON ARBO 785.2, HI US",2017-08-19,0.09,71.0,21.3331,-157.8025,152.4
19547,USC00516128,"MANOA LYON ARBO 785.2, HI US",2017-08-20,NaN,78.0,21.3331,-157.8025,152.4
19548,USC00516128,"MANOA LYON ARBO 785.2, HI US",2017-08-21,0.56,76.0,21.3331,-157.8025,152.4
19549,USC00516128,"MANOA LYON ARBO 785.2, HI US",2017-08-22,0.50,76.0,21.3331,-157.8025,152.4
19550,USC00516128,"MANOA LYON ARBO 785.2, HI US",2017-08-23,0.45,76.0,21.3331,-157.8025,152.4

In [29]:
# Find the most recent date in the data set.
mos_rec_date = []
xxx = session.query(Measurement.date).order_by(Measurement.id.desc()).first()
for x in xxx:
    print(f"the most recent date in the data set is {x}")

the most recent date in the data set is 2017-08-23

In [21]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 


# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

('USC00519397', 0.0)
('USC00514830', 0.0)
('USC00519523', 0.08)
('USC00516128', 0.45)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()